<template>
  <section class="map">
    <div ref="map-root"
         style="width: 100%; height: 100%">
    </div>
  </section>
</template>

<script>
import View from 'ol/View'
import Map from 'ol/Map'
import TileLayer from 'ol/layer/Tile'
import TileWMS from 'ol/source/TileWMS';
import OSM from 'ol/source/OSM'
import {transform} from 'ol/proj';
import {default as VectorLayer} from 'ol/layer/Vector';
import {default as VectorSource } from 'ol/source/Vector';
import Style from 'ol/style/Style';
import Fill from 'ol/style/Fill';
// import WMSGetFeatureInfo from 'ol/format/WMSGetFeatureInfo';
import Feature from 'ol/Feature';
import Polygon from 'ol/geom/Polygon';

// importing the OpenLayers stylesheet is required for having
// good looking buttons!
import 'ol/ol.css'
import { getAreasByLandId } from "../lib/areas"

export default {
  name: "MapComponent",
  components: {},
  props: {},
  data: function () {
    return {
      surfaceInfo: '',
      map : null
    }
  },

  methods: {
    centerMap(lat, long) {
      console.log("centering map to ", lat, long)
      this.map.getView().setCenter(transform([long, lat], 'EPSG:4326', 'EPSG:3857'));
      this.map.getView().setZoom(19);
    }
  },
 
  
  mounted() {
    // listen for map centering events from other components
    this.$root.$on("centerMapEvent", () => {
      let coords = this.$store.getters.getCoords
      this.centerMap(coords["x"], coords["y"])
    })
    
    // this is where we create the OpenLayers map
    this.map = new Map({
      // the map will be created using the 'map-root' ref
      target: this.$refs['map-root'],
      layers: [
        // adding a background tiled layer
        new TileLayer({
          source: new OSM() // tiles are served by OpenStreetMap
        })
      ]
    })

    const hooneWmsSource = new TileWMS({
      url: '/geoserver/ewat/wms',
      params: {'LAYERS': 'ewat:hoone', "TILED": true},
      serverType: 'geoserver',
      transition: 0
    })
    const katastriWmsSource = new TileWMS({
      url: '/geoserver/ewat/wms',
      params: {'LAYERS': 'ewat:kataster', "TILED": true},
      serverType: 'geoserver',
      transition: 0
    })
    const teeWmsSource = new TileWMS({
      url: '/geoserver/ewat/wms',
      params: {'LAYERS': 'ewat:tee', "TILED": true},
      serverType: 'geoserver',
      transition: 0
    })
    const kolvikWMSSourve = new TileWMS({
      url: '/geoserver/ewat/wms',
      params: {'LAYERS': 'ewat:kolvik_a', "TILED": true},
      serverType: 'geoserver',
      transition: 0
    })
    const lageWMSSource = new TileWMS({
      url: '/geoserver/ewat/wms',
      params: {'LAYERS': 'ewat:lage', "TILED": true},
      serverType: 'geoserver',
      transition: 0
    })
    const muu_rajatisWMSSource = new TileWMS({
      url: '/geoserver/ewat/wms',
      params: {'LAYERS': 'ewat:muu_rajatis', "TILED": true},
      serverType: 'geoserver',
      transition: 0
    })
    const ouWMSSource = new TileWMS({
      url: '/geoserver/ewat/wms',
      params: {'LAYERS': 'ewat:ou', "TILED": true},
      serverType: 'geoserver',
      transition: 0
    })
    const puitTaimestikWMSSource = new TileWMS({
      url: '/geoserver/ewat/wms',
      params: {'LAYERS': 'ewat:puittaimestik', "TILED": true},
      serverType: 'geoserver',
      transition: 0
    })

    let highlightOverlay = new VectorLayer({
      style: new Style({
        fill: new Fill({
          color: "rgba(237, 226, 0, 1)"
        })
      }),
      source: new VectorSource()
    })

    // bottom
    this.map.addLayer(new TileLayer({
      source: lageWMSSource
    }))
    this.map.addLayer(new TileLayer({
      source: kolvikWMSSourve
    }))
    this.map.addLayer(new TileLayer({
      source: ouWMSSource
    }))
    this.map.addLayer(new TileLayer({
      source: teeWmsSource
    }))
    this.map.addLayer(new TileLayer({
      source: puitTaimestikWMSSource
    }))
    this.map.addLayer(new TileLayer({
      source: teeWmsSource
    }))
    this.map.addLayer(highlightOverlay);
    this.map.addLayer(new TileLayer({
      source: katastriWmsSource
    }))
    this.map.addLayer(new TileLayer({
      source: muu_rajatisWMSSource
    }))
    this.map.addLayer(new TileLayer({
      source: hooneWmsSource
    }))
    // top

    const view = new View({
      // Tartu
      zoom: 12,
      center:[2977148, 8049069],
    })

    this.map.setView(view)

    // currently prints a url containing the info to the console
    this.map.on('singleclick', evt => {
        let viewResolution = view.getResolution();
        // replace katastriWmsSource with hooneWmsSource to get info about the building
        let url = katastriWmsSource.getFeatureInfoUrl(
          evt.coordinate, viewResolution, view.getProjection(),
          {'INFO_FORMAT': 'application/json', 'FEATURE_COUNT': 50});

        let click_coords = transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');
        let x = click_coords[1]
        let y = click_coords[0]
        this.$store.commit("changeCoords", {x, y} );     

        if (url) {
          // todo: use the info fetched from the url
          fetch(url)
          .then((response) => response.json())
          .then(data => {
              let feature = new Feature({
                geometry: new Polygon(data.features[0].geometry.coordinates[0])
              })
              highlightOverlay.getSource().clear()
              highlightOverlay.getSource().addFeature(feature)
        
              let plotNumber = data.features[0].properties.tunnus
              getAreasByLandId(plotNumber)
            })
        }
          
    });
  },
}
</script>

<style scoped>
.map {
  width: 100%;
  height: 60vh;
  margin: 1%;
  margin-right: 0;
}

</style>