<template>
  <div>
    <div class="mainLayout">
      <MapComponent/>
      <div class="side">
        <div class="input">
          <span class="field p-float-label p-input-icon-right">
            <InputText class="areaField" type="text" v-model="rainfall" />
            <label for="area">{{ $t('rainProb.rainfall') }}</label>
            <span class="pinnedText">mm</span>
          </span>
        </div>
        <div class="input">
          <span class="field p-float-label p-input-icon-right">
            <InputText class="areaField" type="text" v-model="duration" />
            <label for="area">{{ $t('rainProb.duration') }}</label>
            <span class="pinnedText">min</span>
          </span>
        </div>
        <Button label="Arvuta sagedus" @click="calcIntensityAndFreqPeriod" style="margin: auto;">
          <span class="p-button-label">{{ $t('rainProb.calcFreq') }}</span>
        </Button>
        <p class="rainProbCalcResultText">{{ $t('rainProb.freqInYears') }}: {{ Math.round(rain_freq_period*100)/100 }}</p>
        <p class="rainProbCalcResultText">{{ $t('rainProb.intensity') }}: {{intensity}} mm/h</p>
        <Button label="Uuenda graafik" @click="fetch_abc_parameters" style="margin: auto;">
          <span class="p-button-label">{{ $t('rainProb.updateGraph') }}</span>
        </Button>
      </div>
    </div>
    <Plotly class="graph" :data="plot_data" :layout="layout" :scrollZoom="false" :display-mode-bar="true"></Plotly>
  </div>
</template>

<script>
import axios from 'axios'
import {Plotly} from 'vue-plotly'
import { calculateRainFrequencyPeriod } from "../lib/calculations"
import MapComponent from "@/components/MapComponent";

export default {
  name: "RainfallProb",
  components: {
    Plotly,
    MapComponent
  },
  data: function () {
    return {
      plot_data: [
        {
          "uid": "0bef5b",
          "line": {
            "dash": "solid",
            "color": "rgb(0,0,0)",
            "shape": "linear",
            "width": 1
          },
          "mode": "lines",
          "name": null,
          "type": "heatmap",
          colorscale: [
            ['0.0', 'rgba(255,255,255,0)'],
            ['0.002499999999', 'rgba(255,255,255,0)'],
            ['0.0025', '#003f5c'],
            ['0.022222222222', '#2f4b7c'],
            ['0.111111111111', '#665191'],
            ['0.222222222222', '#a05195'],
            ['0.444444444444', '#d45087'],
            ['0.666666666667', '#f95d6a'],
            ['0.777777777778', '#ff7c43'],
            ['0.999999999999', '#ffa600'],
            ['1.0', 'rgba(255,255,255,0)']
          ],
          "zmax": 100,
          "zmin": 0,
          x: [],
          y: [],
          z: [],
          hovertemplate: `<span>${this.$t('rainProb.rainDuration') + " (min)"}</span>: %{x}<br>` +
                        `<span>${this.$t('rainProb.intensity') + " (mm/h)"}</span>: %{y}<br>` +
                        `<span>${this.$t('rainProb.rainFreqPeriod') }</span>: %{z:.2f}<extra></extra>`
        }
      ],

      layout: {
        title:{
          text: this.$t('rainProb.rainFreqPeriod') 
        },
        xaxis: {
          title: {
            text: this.$t('rainProb.rainDuration') + " (min)"
          },
          type: 'log',
          range: [0.5, 2.4]
        },
        yaxis: {
          title:{
            text: this.$t('rainProb.intensity') + " (mm/h)"
          },
          range: [0,200]
        }
      },

      parameter_a: 0,
      parameter_b: 0,
      parameter_c: 0,
      xcoord: 0,
      ycoord: 0,
      rainfall: 0,
      duration: 0,
      intensity: 0,
      rain_freq_period: 0,
      answer: 0
    }
  },
    
  methods: {
    
    fetch_abc_parameters: async function(){

      let y = 0;
      let x = 0;
     
      let xarray = []
      let yarray = []
      let zarray = []


      let coords = this.$store.getters.getCoords
      if (coords["x"] == null || coords["y"] == null){
        alert("Palun vali arvutuste jaoks kaardilt krunt.")
        throw "No land selected"
      }
      
      
      let response = await axios.get("/api/land/abc",
       {params: {
          "xcoord": coords["x"],
          "ycoord": coords["y"]
        }})

      this.parameter_a = response.data.a_param
      this.parameter_b = response.data.b_param
      this.parameter_c = response.data.c_param

      // xarray - vihma kestvus minutites
      // yarray - vihma intensiivsus
      // zarray - vihma korduvusperiood

      for(x = 0; x < 1440; x += 1){ // duration
        xarray.push(x)
      }
      for(y = 0; y < 300; y += 1){ // intensity mm/h
        yarray.push(y)
      }

      for(let intensity = 0; intensity < y; intensity += 1){ 
        zarray.push([])
        for(let duration = 0; duration < x; duration += 1){ 
          let value = calculateRainFrequencyPeriod(intensity, duration, this.parameter_a, this.parameter_b, this.parameter_c)
          zarray[intensity].push(value)
        }
      }

      this.plot_data[0].x = xarray
      this.plot_data[0].y = yarray
      this.plot_data[0].z = zarray

      return [this.parameter_a, this.parameter_b, this.parameter_c]

    },
    calculateRainFreqPeriod(){
      this.fetch_abc_parameters().then((abc => {
        this.rain_freq_period = calculateRainFrequencyPeriod(
          this.intensity, this.duration, abc[0],abc[1], abc[2] // duration in minutes here
          )
      }))
    },

    calclulateIntensity(){
      if (this.rainfall == 0 || this.duration == 0){
        alert("Palun täpsusta saju hulk ja kestvus");
        throw "No rain amount or duration specified"
      }
      this.intensity = this.rainfall / (this.duration / 60) // mm/h
      return this.intensity
    },

    calcIntensityAndFreqPeriod(){
      try{
        this.calclulateIntensity()
        this.calculateRainFreqPeriod()
      }catch(err){
        console.log(err)
      }
    }
  }
}

</script>

<style scoped>

.mainLayout {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.side {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  width: 650px;
}

.input {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-evenly;
}

.input > *{
  display: inline-block;
  padding: 0;
  margin: 0;
}

.p-input-icon-left > .pinnedText,
.p-input-icon-right > .pinnedText {
  position: absolute;
  top: 50%;
  margin-top: -.65rem;
}

.p-input-icon-right > .pinnedText:last-of-type {
  right: 0.5rem;
  color: #6c757d;
}

button{
  background-color: #2c3e50;
  color: aliceblue;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: Nunito, Avenir, Helvetica, Arial, sans-serif;
}

button:hover{
  background-color: #5c9a97 !important;
}

button:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: 0 0 0 0.2rem #80bebb !important;
}

button:active{
  background-color: #2c3e50;
}

</style>