<template>
  <div class="main">
    <div class="mainLayout">
      <MapComponent/>
      <div class="retentionSide">
        <div id="searchBar">
          <span class="p-float-label p-input-icon-right" style="width: 100%">
            <InputText id="area" style="width: 100%" type="text" v-model="plotNumber" />
            <label for="area">{{ $t("retention.cadastreNumber") }}</label>
            <i v-if="loading" class="pi pi-spin pi-spinner" />
          </span>
          <div class="buttons">
            <Button class="searchButton" @click="getPlotInfo">
              <span class="p-button-label">{{ $t('retention.search') }}</span>
            </Button>
            <Button class="searchButton" @click="showAllSwitch">
              <span class="p-button-label">{{ $t('retention.allAreas') }}</span>
            </Button>
          </div>
        </div>
        
        <div v-if="loading" id="loadingBox">
          <p>{{ $t('retention.searchMessage') }}</p>
        </div>
        <div class="sideFields">
          <div class="input">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="totalSurface" />
              <label for="area">{{ $t('retention.totalArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
          </div>

          <div class="input">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="rainDuration" />
              <label for="area"> {{ $t('retention.rainDuration') }} </label>
              <span class="pinnedText">min</span>
            </span>
          </div>

          <div class="input">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="rainFreq" />
              <label for="area">{{ $t('retention.rainFreq') }}</label>
            </span>
          </div>
        </div>
        <Button @click="calculateTotalFlow" style="margin: auto;">
          <span class="p-button-label">{{ $t('retention.calc') }}</span>
        </Button>
        <div v-if="this.retention">
          <p>{{ $t('retention.flowRate') }} (l/s): </p>
          <p class="retentionResult">{{ Math.round(retention*100)/100 }}</p>
        </div>
      </div>
    </div>
    <div class="bottomLayout">
        <div class="input" v-if="roofSurface || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="roofSurface" />
              <label for="area">{{ $t('retention.roofArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="roofMultiplier.mult" :step="0.05" :min="roofMultiplier.min" :max="roofMultiplier.max" />
            <div class="multiplier">×{{roofMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="grassSurface || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="grassSurface" />
              <label for="area">{{ $t('retention.yardArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="grassMultiplier.mult" :step="0.05" :min="grassMultiplier.min" :max="grassMultiplier.max" />
            <div class="multiplier">×{{grassMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="seisuVeekogu || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="seisuVeekogu" />
              <label for="area">{{ $t('retention.waterBodyArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="seisuVeekoguMultiplier.mult" :step="0.05" :min="seisuVeekoguMultiplier.min" :max="seisuVeekoguMultiplier.max" />
            <div class="multiplier">×{{seisuVeekoguMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="vooluVeekogu || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="vooluVeekogu" />
              <label for="area">{{ $t('retention.waterCourseArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="vooluVeekoguMultiplier.mult" :step="0.05" :min="vooluVeekoguMultiplier.min" :max="vooluVeekoguMultiplier.max" />
            <div class="multiplier">×{{vooluVeekoguMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="muuKolvik || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="muuKolvik" />
              <label for="area">{{ $t('retention.otherLandArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="muuKolvikMultiplier.mult" :step="0.05" :min="muuKolvikMultiplier.min" :max="muuKolvikMultiplier.max" />
            <div class="multiplier">×{{muuKolvikMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="haritavMaa || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="haritavMaa" />
              <label for="area">{{ $t('retention.arableLandArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="haritavMaaMultiplier.mult" :step="0.05" :min="haritavMaaMultiplier.min" :max="haritavMaaMultiplier.max" />
            <div class="multiplier">×{{haritavMaaMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="lage || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="lage" />
              <label for="area">{{ $t('retention.openArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="lageMultiplier.mult" :step="0.05" :min="lageMultiplier.min" :max="lageMultiplier.max" />
            <div class="multiplier">×{{lageMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="puitTaimestik || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="puitTaimestik" />
              <label for="area">{{ $t('retention.woodyVegetationArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="puitTaimestikMultiplier.mult" :step="0.05" :min="puitTaimestikMultiplier.min" :max="puitTaimestikMultiplier.max" />
            <div class="multiplier">×{{puitTaimestikMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="margalaA || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="margalaA" />
              <label for="area">{{ $t('retention.wetlandsAArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="margalaAMultiplier.mult" :step="0.05" :min="margalaAMultiplier.min" :max="margalaAMultiplier.max" />
            <div class="multiplier">×{{margalaAMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="margalaKa || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="margalaKa" />
              <label for="area">{{ $t('retention.wetlandsKaArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="margalaKaMultiplier.mult" :step="0.05" :min="margalaKaMultiplier.min" :max="margalaKaMultiplier.max" />
            <div class="multiplier">×{{margalaKaMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="muuRajatis || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="muuRajatis" />
              <label for="area">{{ $t('retention.otherConstructionsArea') }}</label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="muuRajatisMultiplier.mult" :step="0.05" :min="muuRajatisMultiplier.min" :max="muuRajatisMultiplier.max" />
            <div class="multiplier">×{{muuRajatisMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="tee || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="tee" />
              <label for="area">{{ $t('retention.roadsArea') }} 
                <span v-if="roadType === 'püsikate'">({{ $t('retention.mostlyHardSurface') }})</span>
                <span v-if="roadType === 'kruuskate'">({{ $t('retention.mostlyGravel') }})</span>
                <span v-if="roadType === 'kivikate'">({{ $t('retention.mostlyGranite') }})</span>
                <span v-if="roadType === 'pinnas'">({{ $t('retention.mostlyDirt') }})</span>
              </label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="roadMultiplier.mult" :step="0.05" :min="roadMultiplier.min" :max="roadMultiplier.max" />
            <div class="multiplier">×{{roadMultiplier.mult}}</div>
        </div>
        <div class="input" v-if="muu || showAll">
            <span class="field p-float-label p-input-icon-right">
              <InputText class="areaField" type="text" v-model="muu" />
              <label for="area">{{ $t('retention.otherAreas') }} </label>
              <span class="pinnedText">m²</span>
            </span>
            <Slider v-model="otherMultiplier.mult" :step="0.05" :min="otherMultiplier.min" :max="otherMultiplier.max" />
            <div class="multiplier">×{{otherMultiplier.mult}}</div>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { getAreasByLandId } from "../lib/areas";
import { calculateFlow } from "../lib/calculations";
import MapComponent from "@/components/MapComponent";

export default {
  name: "RetentionCalc",
  components: {
    MapComponent
  },
  data: function () {
      return {
        retention: 0,
        rainDuration: "",
        rainFreq: "",
        roofMultiplier: {
          min: 0.75,
          max: 1.0,
          mult: 1.0,
        },
        grassMultiplier: {
          min: 0.1,
          max: 1.0,
          mult: 0.5,
        },
        seisuVeekoguMultiplier: {
          min: 0.0,
          max: 0.5,
          mult: 0.25,
        },
        vooluVeekoguMultiplier: {
          min: 0.0,
          max: 0.5,
          mult: 0.25,
        },
        muuKolvikMultiplier: {
          min: 0.05,
          max: 1.0,
          mult: 0.5,
        },
        haritavMaaMultiplier: {
          min: 0.05,
          max: 0.6,
          mult: 0.2,
        },
        lageMultiplier: {
          min: 0.05,
          max: 0.6,
          mult: 0.2,
        },
        puitTaimestikMultiplier: {
          min: 0.05,
          max: 0.3,
          mult: 0.2,
        },
        margalaAMultiplier: {
          min: 0.0,
          max: 0.5,
          mult: 0.25,
        },
        margalaKaMultiplier: {
          min: 0.0,
          max: 0.5,
          mult: 0.25,
        },
        muuRajatisMultiplier: {
          min: 0.05,
          max: 1.0,
          mult: 1.0,
        },
        roadMultiplier: {
          min: 0.3,
          max: 1.0,
          mult: 0.7,
        },
        otherMultiplier: {
          min: 0.0,
          max: 1.0,
          mult: 0.5,
        },
        showAll: false,
      } 
    },
  computed:{
    isLoadingData: function(){
      return this.loading;
    },
    totalSurface:{
      get(){
        return this.$store.getters.getAreas["totalSurface"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "totalSurface", value: value})
      }
    },
    roofSurface:{
      get(){
        return this.$store.getters.getAreas["roofSurface"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "roofSurface", value: value})
      }
    },
    grassSurface:{
      get(){
        return this.$store.getters.getAreas["grassSurface"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "grassSurface", value: value})
      }
    },
    seisuVeekogu:{
      get(){
        return this.$store.getters.getAreas["seisuVeekogu"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "seisuVeekogu", value: value})
      }
    },
    vooluVeekogu:{
      get(){
        return this.$store.getters.getAreas["vooluVeekogu"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "vooluVeekogu", value: value})
      }
    },
    muuKolvik:{
      get(){
        return this.$store.getters.getAreas["muuKolvik"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "muuKolvik", value: value})
      }
    },
    haritavMaa:{
      get(){
        return this.$store.getters.getAreas["haritavMaa"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "haritavMaa", value: value})
      }
    },
    lage:{
      get(){
        return this.$store.getters.getAreas["lage"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "lage", value: value})
      }
    },
    puitTaimestik:{
      get(){
        return this.$store.getters.getAreas["puitTaimestik"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "puitTaimestik", value: value})
      }
    },
    margalaA:{
      get(){
        return this.$store.getters.getAreas["margalaA"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "margalaA", value: value})
      }
    },
    margalaKa:{
      get(){
        return this.$store.getters.getAreas["margalaKa"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "margalaKa", value: value})
      }
    },
    muuRajatis:{
      get(){
        return this.$store.getters.getAreas["muuRajatis"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "muuRajatis", value: value})
      }
    },
    tee:{
      get(){
        return this.$store.getters.getAreas["tee"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "tee", value: value})
      }
    },
    muu:{
      get(){
        return this.$store.getters.getAreas["muu"]
      },
      set(value){
        this.$store.commit('changeAreas', { area: "muu", value: value})
      }
    },
    roadType:{
      get(){
        return this.$store.getters.getRoadType;
      },
      set(value){
        this.$store.commit("setRoadType", value);
      }
    },
    plotNumber:{
      get(){
        return this.$store.getters.getPlotNumber;
      },
      set(value){
        this.$store.commit("changePlotNumber", value);
      }
    },
    loading:{
      get(){
        return this.$store.getters.getLoading;
      },
      set(value){
        this.$store.commit("setLoading", value);
      }
    }
  },
  methods: {
    calculateTotalFlow() {

      if ((!this.rainDuration) || (!this.rainFreq)){
        alert("Palun täpsusta vihma kestvus ja korduvus");
        return
      }

      this.fetch_abc_parameters().then(result => {
        let a = Number(result["a_param"])
        let b = Number(result ["b_param"])
        let c = Number(result["c_param"])

        this.retention = 
        calculateFlow(this.roofMultiplier.mult, a,b,c, this.roofSurface, this.rainFreq, this.rainDuration) + 
        calculateFlow(this.grassMultiplier.mult, a,b,c, this.grassSurface, this.rainFreq, this.rainDuration) +
        calculateFlow(this.seisuVeekoguMultiplier.mult, a,b,c, this.seisuVeekogu, this.rainFreq, this.rainDuration) +
        calculateFlow(this.vooluVeekoguMultiplier.mult, a,b,c, this.vooluVeekogu, this.rainFreq, this.rainDuration) +
        calculateFlow(this.muuKolvikMultiplier.mult, a,b,c, this.muuKolvik, this.rainFreq, this.rainDuration) +
        calculateFlow(this.haritavMaaMultiplier.mult, a,b,c, this.haritavMaa, this.rainFreq, this.rainDuration) +
        calculateFlow(this.lageMultiplier.mult, a,b,c, this.lage, this.rainFreq, this.rainDuration) +
        calculateFlow(this.puitTaimestikMultiplier.mult, a,b,c, this.puitTaimestik, this.rainFreq, this.rainDuration) +
        calculateFlow(this.margalaAMultiplier.mult, a,b,c, this.margalaA, this.rainFreq, this.rainDuration) +
        calculateFlow(this.margalaKaMultiplier.mult, a,b,c, this.margalaKa, this.rainFreq, this.rainDuration) +
        calculateFlow(this.muuRajatisMultiplier.mult, a,b,c, this.muuRajatis, this.rainFreq, this.rainDuration) +
        calculateFlow(this.roadMultiplier.mult, a,b,c, this.tee, this.rainFreq, this.rainDuration) +
        calculateFlow(this.otherMultiplier.mult, a,b,c, this.muu, this.rainFreq, this.rainDuration)
      })    
    },
  

    async getPlotInfo(){
      if (this.plotNumber.length > 5){
        // fetches the coordinates of the land and saves to vue store
        let res = await axios.get("/api/land/coords",
          {
            params: {
              "land_id": this.plotNumber
            }
          }
        )

        this.$store.commit("changeCoords", {"x": res["data"]["x"], "y": res["data"]["y"]})

        this.$root.$emit("centerMapEvent")

        // fetches the data about a particular land and saves the data to the vue store
        getAreasByLandId(this.plotNumber)
      }else{
        alert("Palun sisesta katastrinumber. / Please enter a valid plot number.")
      }
      
    },
    // fetches the abc parameters from the backend endpoint and returns the json result
    fetch_abc_parameters: async function(){
      let coords = this.$store.getters.getCoords
      console.log("abc coords", coords)
      let res = await axios.get("/api/land/abc",
       {params: {
          "xcoord": coords["x"],
          "ycoord": coords["y"]
        }});
      
      return res["data"]
    },
    showAllSwitch(){
      this.showAll = !this.showAll;
    },
  }
}

</script>

<style scoped>

.retentionResult {
  font-size: 30px;
  margin: 0 auto;
}

.retentionSide {
  display: flex;
  flex-direction: column;
  margin: 1% 89px;
  width: 360px;
}

@media screen and (max-width: 1050px) {
  .retentionSide {
    margin: 3% auto;
  }
}


#searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.searchButton {
  margin-right: 20px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.searchButton:last-child {
  margin-right: 0px;
}

.sideFields {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0;
  align-items: flex-start;
}

.multiplier {
  width: 70px;
}

#loadingBox{
  color: red;
}

.input {
  width: 100%;
  max-width: 360px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.input > *{
  display: inline-block;
  padding: 0;
  margin: 0;
}

.areaField, .field {
  width: 100%;
}

.unit {
  margin-left: 10px;
  margin-right: 10px;
  width: 5%;
}

button{
  background-color: #2c3e50;
  color: aliceblue;
  border: none;
  width: 150px;
  height: 30px;
  font-size: 18px;
  font-family: Nunito, Avenir, Helvetica, Arial, sans-serif;
}

button:hover{
  background-color: #5c9a97 !important;
}

button:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: 0 0 0 0.2rem #80bebb !important;
}

button:active{
  background-color: #2c3e50;
}

.p-input-icon-left > .pinnedText,
.p-input-icon-right > .pinnedText {
  position: absolute;
  top: 50%;
  margin-top: -.65rem;
}

.p-input-icon-right > .pinnedText:last-of-type {
  right: 0.5rem;
  color: #6c757d;
}

.p-slider-horizontal {
	width: 7rem;
}

.p-slider {
  margin-left: 5px;
}

>>> .p-slider .p-slider-range {
  background: #2c3e50;
}

>>> .p-slider .p-slider-handle {
  border: 2px solid #2c3e50;
}

>>> .p-slider:not(.p-disabled) .p-slider-handle:hover {
    background: #2c3e50;
    border-color: #2c3e50;
}

.mainLayout {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

@media screen and (max-width: 1050px) {
  .mainLayout {
    display: block;
  }
}

.bottomLayout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 20px;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

</style>