<template>
  <div>
    <h1>{{ $t('rainGraph.currentWeather') }}</h1>
    <Button @click="getCurrentData('Aardla_95')">
      <span class="p-button-label">Aardla {{ $t('rainGraph.weatherInfo') }}</span>
    </Button>
    <Button @click="getCurrentData('Valga_keskjaam')">
      <span class="p-button-label">Valga {{ $t('rainGraph.weatherInfo') }}</span>
    </Button>
    <p>{{ $t('rainGraph.temperature') }}: {{airTemperature}}c</p>
    <p>{{ $t('rainGraph.humidity') }}: {{airHumidity}}</p>
    <p>{{ $t('rainGraph.pressure') }}: {{airPressure}}</p>
    <p>{{ $t('rainGraph.windSpeed') }}: {{windSpeed}}m/s</p>
    <p>{{ $t('rainGraph.windDirection') }}: {{windDirection}}</p>
    <p>{{ $t('rainGraph.dailyPrecipitation') }}: {{rainfall}}mm</p>
    <h1>{{ $t('rainGraph.historicalWeather') }}</h1>
    <div id="historicDataDateForm">
      <div class="dateSelect">
        <p>{{ $t('rainGraph.startDate') + " UTC" }}</p>
        <input type="date" v-model="startDate">
        <input type="time" v-model="startTime">
      </div>
      <div class="dateSelect">
        <p>{{ $t('rainGraph.endDate') + " UTC" }}</p>
        <input type="date" v-model="endDate">
        <input type="time" v-model="endTime">
      </div>

      <div class="dateSelect">
        <p>Viimatised</p>
        <div class="dateQuickSelectButtons">
          <button @click="setRecentDateRange(24)">24h</button>
          <button @click="setRecentDateRange(12)">12h</button>
        </div>
        <div class="dateQuickSelectButtons">
          <button @click="setRecentDateRange(6)">6h</button>
          <button @click="setRecentDateRange(3)">3h</button>
        </div>
      </div>

    </div>
    <div id="historicDataStationParamForm">
      <p>{{ $t('rainGraph.weatherStation') }}</p>
      <select v-model="selectedStation">
        <option v-for="station in stations" v-bind:key="station.station_id" v-bind:value="station.station_id">
          {{ station.station_name }}
        </option>
      </select>
    </div>
    <div v-if="selectedStation" id="graphsSelectContainer">
      <div v-for="param in params[selectedStation]" v-bind:key="param">
        <input type="checkbox" :id="param" :value="param" v-model="selectedGraphs">
        <br>
        <label :for="param">{{param in titleMap ? titleMap[param] : param}}</label>
      </div>
    </div>
    <button @click="getGraphData()">{{ $t('rainGraph.getWeatherData') }}</button>
    <div v-if="displayGraphs" id="graphContainer">
      <div v-for="param in selectedParams" v-bind:key="param">
        <Plotly class="graph" :data="getPlotsData()[param]" :layout="genLayout(param)" :display-mode-bar="true"></Plotly>
      </div>
    </div>
  </div>
</template>

<script>
import { Plotly } from 'vue-plotly'
import axios from 'axios'

export default {

  name: "WeatherGraphs",
  components: {
    Plotly
  },
  data() {
    return {
      plotsData: {},

      titleMap: {
        hum_out: this.$t('rainGraph.humidity'),
        hum: this.$t('rainGraph.humidity'),
        wind_speed_10_min_avg: this.$t('rainGraph.avgWindSpeed'),
        wind_speed_avg_last_10_min: this.$t('rainGraph.avgWindSpeed'),
        wind_dir: this.$t('rainGraph.windDirection'),
        wind_dir_scalar_avg_last_10_min: this.$t('rainGraph.windDirection'),
        rain_day_mm: this.$t('rainGraph.dailyPrecipitation'),
        rainfall_last_24_hr_mm: this.$t('rainGraph.dailyPrecipitation'),
        rainfall_last_15_min_mm: this.$t('rainGraph.precipitation'),
        bar: this.$t('rainGraph.pressure'),
        temp_out: this.$t('rainGraph.temperature'),
        temp: this.$t('rainGraph.temperature'),
      },
      airTemperature: 0,
      airHumidity: 0,
      windSpeed: 0,
      airPressure: 0,
      rainfall: 0,
      windDirection: "",
      startDate: null,
      startTime: null,
      endDate: null,
      endTime: null,
      stations: [],
      params: {},
      selectedStation: null,
      selectedParameter: null,
      displayGraphs: null,
      selectedGraphs: []
    }
  },
  
  watch: {
    selectedStation: function(newValue){
      this.selectedGraphs = []
      // select default graphs
      if (newValue === 17648){ // Aardla_95
        this.selectedGraphs.push("rain_day_mm")
      }else if (newValue === 111341){ // Valga_keskjaam
        this.selectedGraphs.push("rainfall_last_24_hr_mm")
      } 
    }
  },

  computed: {
    selectedParams(){
      let selected = []
      for (let param of this.params[this.selectedStation]){
        if (this.selectedGraphs.includes(param)){
          selected.push(param)
        }
      }
      return selected
    }
  },

  mounted(){
    // get all the stations and their params
    axios.get("/api/weather/stations").then(res => {
      let data = res.data["stations"];
   
      for (let station of data){
        this.stations.push(station)
        axios.get("/api/weather/params", {
          params: {
            station_id: station["station_id"]
          }
          }).then(res => {
            let data = res.data["params"]
            this.params[station["station_id"]] = data
          })
      }
      
    })
  },

  methods: {

    setRecentDateRange(hours){
      let currentDate = new Date()
      this.endDate = currentDate.toISOString().split('T')[0]
      this.endTime = currentDate.toISOString().split('T')[1].slice(0,5)

      currentDate.setHours(currentDate.getHours() - hours)
      this.startDate = currentDate.toISOString().split('T')[0]
      this.startTime = currentDate.toISOString().split('T')[1].slice(0,5)
    
    },

    getPlotsData(){
      if (this.plotsData){
        return this.plotsData
      }
    },
    genLayout(param){
      return {
        title: param in this.titleMap ? this.titleMap[param] : param
      }
    },
    
    performHistoryRequest: async function(startime, endtime, station_id, parameter_str){
      let resp = await axios.get("/api/weather/history",
      {
        params: {
          "station_id": station_id,
          "start": startime,
          "end": endtime,
          "parameter": parameter_str
        }
      });

      return resp.data

    },

    async getGraphData(){
      this.displayGraphs = false
      if (!this.selectedStation){
        alert("Palun vali ilmajaam.")
        return
      }
      if (!this.startDate || !this.endDate){
        alert("Palun sisesta algus ja lõppkuupäev.");
        return;
      }
      if (!this.startTime) this.startTime = "00:00"
      if (!this.endTime) this.endTime = "23:00"

      let starttime = this.startDate + " " + this.startTime
      let endtime = this.endDate + " " + this.endTime
      for (let param of this.params[this.selectedStation]){
        let data = await this.performHistoryRequest(starttime, endtime, this.selectedStation, param)
        let graphData = [{
          x: [],
          y: [],
          type: "scatter"
        }]
        data.data.forEach(elem => {
          let date = new Date(Date.parse(elem.creation_timestamp));
          graphData[0].y.push(elem.content)
          graphData[0].x.push(this.formatDate(date))
        });
        this.plotsData[param] = graphData;
      }
      
      this.displayGraphs = true
    },

    formatDate(dateObj){
      // 07.12 15:45
      return dateObj.getDay() + "." + (dateObj.getMonth()+1) + " " + dateObj.getHours() + ":" + dateObj.getMinutes()
    },

    getCurrentData(weatherStation){
        axios.get("/api/weather/current?station_name=" + weatherStation).then((response) => response.data).then(data => {
          console.log(data)
          if (weatherStation === 'Aardla_95'){
            let info = data["sensors"][0]["data"][0]
            this.airTemperature = (info["temp_out"]-32) * 5 / 9
            this.airHumidity = info["hum_out"]
            this.windSpeed = info["wind_speed"]
            this.airPressure = info["bar"]
            this.rainfall = info["rain_day_mm"]
            this.windDirection = info["wind_dir"]
          }
          else{
            let info = data["sensors"][4]["data"][0]
            this.airTemperature = (info["temp"]-32) * 5 / 9
            this.airHumidity = info["hum"]
            this.windSpeed = info["wind_speed_last"]
            this.airPressure = "Pole ilmajaamas(?)"
            this.rainfall = info["rainfall_daily_mm"]
            this.windDirection = info["wind_dir_last"]
          }

          this.airTemperature = Math.round(this.airTemperature * 100) / 100 
        })
      }
  }

}

</script>

<style scoped>

#graphsSelectContainer{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#graphsSelectContainer > div{
  margin: 5px;
}

#historicDataDateForm{
  display: flex;
  justify-content: center;
}

.dateSelect{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.dateSelect > p{
  margin-top: 0;
}
.dateSelect > input[type="time"]{
  width: 100px;
}

#graphContainer{
  /* display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center; */
  margin-left: 5%;
  margin-right: 5%;
}

button{
  background-color: #2c3e50;
  color: aliceblue;
  border: none;
  width: 250px;
  height: 50px;
  font-size: 20px;
  margin: 10px;
  font-family: Nunito, Avenir, Helvetica, Arial, sans-serif;
}

.dateQuickSelectButtons > button{
  width: 50px;
  height: 20px;
  font-size: 15px;
  margin: 5px;
}

button:hover{
  background-color: #5c9a97 !important;
}

button:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: 0 0 0 0.2rem #80bebb !important;
}

button:active{
  background-color: #2c3e50;
}

</style>