<template>
  <div id="app">
    <header>
      <h1>EWAT - Estonian Water Analysis Tool</h1>
      <div class="navBar">
        <router-link class="navLink" to="/veepidavus">{{ $t('navBar.retention') }}</router-link>
        <router-link class="navLink" to="/sadu">{{ $t('navBar.rainProb') }}</router-link>
        <router-link class="navLink" to="/ilm">{{ $t('navBar.rainGraph') }}</router-link>
        <div class="separator"></div>
        <a class="navLink" v-if="$i18n.locale === 'en'" @click="switchLocale('et')">Est</a>
        <a class="navLink" v-if="$i18n.locale === 'et'" @click="switchLocale('en')">Eng</a>
      </div>
    </header>
    <router-view class="main"></router-view>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
  },
  data() {
    return {
      showRetention: false,
      showRainfall: false,
      showGraphs: false
    }
  },
  methods: {
    rainfallShow(){
      this.showRainfall = true;
      this.showRetention = false;
      this.showGraphs = false;

    },
    retentionShow(){
      this.showRetention = true;
      this.showRainfall = false;
      this.showGraphs = false;
    },
    graphShow(){
      this.showGraphs = true;
      this.showRainfall = false;
      this.showRetention = false;
    },
    switchLocale(locale) {
      this.$i18n.locale = locale
    }
  }
}

</script>

<style>

header > h1{
  margin: 0;
  margin-left: 10px;
}
/* fix overlap on smaller widths */
@media screen and (max-width: 1000px) {
  header > h1{
    font-size: 2.5vw;
  }
}

html {
  background-color: #f8f9fa;
}

#app {
  font-family: Nunito, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.main {
  margin: 80px 5vh 5vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

body{
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #2c3e50;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  background-color: #2c3e50;
  color: aliceblue;
  border: none;
  padding: 14px 8px;
  font-family: Nunito, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.navLink:hover{
  background-color: #5c9a97;
}

a, a:link, a:visited, a:hover, a:active {
  color: aliceblue;
  text-decoration: none;
  white-space: nowrap;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
}

.separator {
  height: 40px;
  width: 2px;
  border-left: 1px solid aliceblue;
  margin-right: 10px;
  margin-left: 10px;
}

.navBar {
  display: flex;
  align-items: center;
  margin-right: 10px
}

</style>
